version: 2
updates:
# GitHub Actions
- package-ecosystem: "github-actions"
  directory: "/"
  target-branch: "dev"
  schedule:
    interval: "weekly"
    day: "monday"
    time: "06:00"
  open-pull-requests-limit: 5
  reviewers:
  - "msgcenterpy-team"
  labels:
  - "dependencies"
  - "github-actions"
  commit-message:
    prefix: "ci"
    include: "scope"
