.git
.github
.cursor
.pytest_cache
.mypy_cache
.pyre
.tox
.nox
.coverage
.coverage.*
htmlcov
cover

__pycache__
*.py[cod]
*.so
*.egg-info
build
dist
wheels

.conda
.venv
env
venv
ENV

docs/_build
docs/.doctrees
unilabos_local_ui/node_modules
unilabos_local_ui/dist
unilabos_local_ui/*.tsbuildinfo

logs
log
devel
install
output
temp
unilabos_data

.DS_Store
*.log
*.bz2
